.shop{
    margin:25px 0px;
    display: grid;
    grid-template-columns: 3fr 1fr
}

.shopping-products{
    margin:0px 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:25px;
}

.shopping-cart{
    background-color: #ddd;
}

@media (max-width: 576px) {
    .shop{
        grid-template-columns: 1fr;
    }
    .shopping-products{
        margin:25px;
        grid-template-columns: repeat(1,1fr);
    }
    .shopping-cart{
       margin:0px 25px 25px;
    }
}