#title{
    font-size: 2.5rem;
    font-weight: 600;
    margin-top:1.2rem;
    margin-bottom:0;
    text-align: center;
    color:purple;
}

#max-choose-item{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top:0.4rem;
    text-align: center;
}